body {
  background-color: rgb(40, 40, 40);
  padding: 0 10%;
  font-family: '华文细黑';
}

h1{
  font-family: "微软雅黑";
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    padding: 0.5em 3em;
}

h2{
  font-family: "微软雅黑";
  color: red;
  text-align: center;
  margin: 0;
  width: auto;
  height: auto;
}

h3{
  font-style: italic;
}

img{
  display: inline-block;
}

span{
  font-style: italic;
  color: #ee1100;
}

onl{
  font-family: "微软雅黑";
  display: block;
  color: #ee1100;
}

oul{
  font-family: "微软雅黑";
  display: block;
  text-decoration: line-through;
  color: #ee1100;
}

.navs:link{ color: #66ccff; text-decoration:none;}
.navs:visited{ color: #66ccff; text-decoration:none;}
.navs:active{ color: #ffcc66; text-decoration:none;}

#mako{
  position: fixed;
  margin: 0;
  right: 11%;
  bottom: 2em;
  transform: rotateY(0deg);
  transition: right 0.5s,bottom 0.5s,transform 1.5s
}

#nav{
  font-size: 1em;
  font-weight: bolder;
  width: 9%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(235, 235, 235);
  position: fixed;
  margin: 0;
  left: 1em;
  top: 2em;
}

#mako:hover{
  right: 12%;
  bottom: 2em;
}

#tt{
  font-size: 2.5em;
  transition: color 0.5s, font-size 0.5s;
}

.block{
    width:100%;
    height: auto;
    font-size: 1.2em;
    padding: 0.5em 1em;
    box-shadow: 10px 10px 1.5em rgb(20, 20, 20);
    max-height: 30em;
    overflow-y: auto;
}

.block::-webkit-scrollbar {
    width: 0.4em;
    height: auto;
}

.block::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  outline: 1px solid slategrey;
  border-radius: 2em;
}

.black_block{
    background-color: rgb(25, 25, 25);
    color: rgb(230, 230, 230);
}

.white_block{
    background-color: rgb(235, 235, 235);
    color: rgb(25, 25, 25);
}

.para{
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
}

