body {
  background-color: rgb(40, 40, 40);
  padding: 0em 14em;
  font-family: '微软雅黑';
}

h1{
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    padding: 0.5em 3em;
}

h3{
  font-style: italic;
}

img{
  display: inline-block;
}

#mako{
  position: fixed;
  margin: 0;
  right: 8em;
  bottom: 2em;
  transform: rotateY(0deg);
  transition: right 0.5s,bottom 0.5s,transform 1.5s
}

#mako:hover{
  right: 9em;
  bottom: 2em;
}

#tt{
  transition: color 0.8s
}

.block{
    width:100%;
    height: auto;
    font-size: 1.5em;
    padding: 0.5em 1em;
    box-shadow: 10px 10px 1.5em rgb(20, 20, 20);
}

.black_block{
    background-color: rgb(25, 25, 25);
    color: rgb(230, 230, 230);
}

.white_block{
    background-color: rgb(235, 235, 235);
    color: rgb(25, 25, 25);
}

.para{
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
}

