body{
  background-color: rgb(40, 40, 40);
  padding: 0 10%;
  font-family: '华文细黑';
  font-size: 1.5em;
  color: white;
}

textarea{
    resize:none;
    display: block;
    width: 25em;
    height: 5em;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    color: rgb(233,233,233);
}

input{
    width: 5em;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    font-size: 1.2em;
    color: rgb(233,233,233);
}

button{
    margin: 0.5em;
    font-size: 1.2em;
    background-color: rgb(66, 66, 66);
    color: rgb(233,233,233);
}

a{
    font-weight: bolder;
    font-size: 1.2em;
    color: rgb(233,233,233);
}

label{
    display: block;
    margin-top: 1em;
}